Importamos el csv que hemos subido al github personal de uno de los integrantes del equipo

In [11]:
import pandas as pd

money_dataframe = pd.read_csv("https://raw.githubusercontent.com/rubengr16/MachineLearning/main/Prac2/train.csv", sep=",")
money_dataframe

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,43161,3985,4,Lawrencez,40.0,856431180.0,Accountant,97384.44,8167.370000,1.0,...,Good,405.45,32.643281,336.0,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909,Standard
1,40663,49494,2,Mohammedr,39.0,417453942.0,Writer,31369.58,2607.131667,8.0,...,Bad,4259.91,39.375507,144.0,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383,Standard
2,111059,2925,6,Alistairn,17.0,499528888.0,Writer,30171.86,2772.321667,6.0,...,Bad,3406.51,34.039021,123.0,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615,Standard
3,72139,21358,2,Dinesh Naire,22.0,859449371.0,Doctor,13100.02,1246.668333,7.0,...,Standard,727.29,34.747262,129.0,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832,Standard
4,119841,21221,4,Bakerg,26.0,485239890.0,Doctor,62313.54,5120.795000,6.0,...,Standard,817.64,24.545394,122.0,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,42636,39869,7,Hendrik Sackmannb,50.0,217529489.0,Media_Manager,107761.29,9047.107500,4.0,...,Standard,34.09,41.899992,211.0,Yes,0.000000,150.220682,High_spent_Large_value_payments,984.123010,Standard
79996,114031,38305,2,Alexj,33.0,98861902.0,Scientist,16218.32,1098.526667,6.0,...,Bad,4466.33,24.275710,98.0,NM,64.533114,34.457893,High_spent_Small_value_payments,260.523798,Poor
79997,85991,9976,6,Luciana Lopezi,25.0,745835485.0,Engineer,29374.77,2377.897500,3.0,...,Standard,1189.37,38.439021,241.0,NM,40.264074,22.234178,High_spent_Medium_value_payments,403.980355,Standard
79998,21240,13193,7,Edward Krudyd,15.0,894419091.0,Manager,43782.45,3543.537500,6.0,...,Bad,3468.25,24.233841,85.0,Yes,240.664739,42.839562,Low_spent_Large_value_payments,146.741586,Poor
79999,73558,15294,5,Neilp,30.0,17531609.0,Lawyer,102215.61,8482.967500,2.0,...,Good,79.67,27.903216,366.0,No,60.567361,60.971467,Low_spent_Medium_value_payments,355.384222,Good

In [12]:
import numpy as np
import sklearn.compose

def transformer_data(money_dataframe):
  # money_dataframe = regularizator(money_dataframe, ["Memory", "Speed"]) #  ??????
  np_money = np.array(money_dataframe)
  column_transformer = sklearn.compose.ColumnTransformer(transformers=[
      ("ID", "drop", [0]),
      ("Customer_ID", "drop", [1]),
      ("Month", "drop", [2]),
      ("Name", "drop", [3]),
      ("Age", sklearn.preprocessing.StandardScaler(), [4]),
      ("SSN", "drop", [5]),
      ("Occupation", "drop", [6]),
      ("Annual_Income", sklearn.preprocessing.StandardScaler(), [7]),
      ("Monthly_Inhand_Salary", sklearn.preprocessing.PowerTransformer(), [8]),
      ("Num_Bank_Accounts", sklearn.preprocessing.StandardScaler(), [9]),
      ("Num_Credit_Card", sklearn.preprocessing.StandardScaler(), [10]),
      ("Interest_Rate", sklearn.preprocessing.RobustScaler(), [11]),
      ("Num_of_Loan", sklearn.preprocessing.StandardScaler(), [12]),
      ("Type_of_Loan", "drop", [13]),
      ("Delay_from_due_date", sklearn.preprocessing.PowerTransformer(), [14]),
      ("Num_of_Delayed_Payment", sklearn.preprocessing.PowerTransformer(), [15]),
      ("Changed_Credit_Limit", sklearn.preprocessing.RobustScaler(), [16]),
      ("Num_Credit_Inquiries", sklearn.preprocessing.PowerTransformer(), [17]),
      ("Credit_Mix", sklearn.preprocessing.OrdinalEncoder(categories=[['Bad', 'Standard', 'Good']]), [18]),
      ("Outstanding_Debt", sklearn.preprocessing.PowerTransformer(), [19]),
      ("Credit_Utilization_Ratio", "drop", [20]),
      ("Credit_History_Age", sklearn.preprocessing.StandardScaler(), [21]),
      ("Payment_of_Min_Amount", sklearn.preprocessing.OrdinalEncoder(categories=[['Yes', 'No', 'NM']]), [22]),
      ("Total_EMI_per_month", "drop", [23]),
      ("Amount_invested_monthly", "drop", [24]),
      ("Payment_Behaviour", sklearn.preprocessing.OrdinalEncoder(categories=[['Low_spent_Large_value_payments', 'High_spent_Small_value_payments', 
                                                                              'High_spent_Medium_value_payments', 'Low_spent_Medium_value_payments', 
                                                                              'Low_spent_Small_value_payments', 'High_spent_Large_value_payments']]), [25]),
      ("Monthly_Balance", sklearn.preprocessing.PowerTransformer(), [26]),
      ("Credit_Score", sklearn.preprocessing.OrdinalEncoder(categories=[['Poor', 'Standard', 'Good']]), [27])
  ]);
  return column_transformer.fit_transform(np_money)

def transformer_test(money_dataframe):
  # money_dataframe = regularizator(money_dataframe, ["Memory", "Speed"]) #  ??????
  np_money = np.array(money_dataframe)
  column_transformer = sklearn.compose.ColumnTransformer(transformers=[
     ("ID", "drop", [0]),
      ("Customer_ID", "drop", [1]),
      ("Month", "drop", [2]),
      ("Name", "drop", [3]),
      ("Age", sklearn.preprocessing.StandardScaler(), [4]),
      ("SSN", "drop", [5]),
      ("Occupation", "drop", [6]),
      ("Annual_Income", sklearn.preprocessing.StandardScaler(), [7]),
      ("Monthly_Inhand_Salary", sklearn.preprocessing.PowerTransformer(), [8]),
      ("Num_Bank_Accounts", sklearn.preprocessing.StandardScaler(), [9]),
      ("Num_Credit_Card", sklearn.preprocessing.StandardScaler(), [10]),
      ("Interest_Rate", sklearn.preprocessing.RobustScaler(), [11]),
      ("Num_of_Loan", sklearn.preprocessing.StandardScaler(), [12]),
      ("Type_of_Loan", "drop", [13]),
      ("Delay_from_due_date", sklearn.preprocessing.PowerTransformer(), [14]),
      ("Num_of_Delayed_Payment", sklearn.preprocessing.PowerTransformer(), [15]),
      ("Changed_Credit_Limit", sklearn.preprocessing.RobustScaler(), [16]),
      ("Num_Credit_Inquiries", sklearn.preprocessing.PowerTransformer(), [17]),
      ("Credit_Mix", sklearn.preprocessing.OrdinalEncoder(categories=[['Bad', 'Standard', 'Good']]), [18]),
      ("Outstanding_Debt", sklearn.preprocessing.PowerTransformer(), [19]),
      ("Credit_Utilization_Ratio", "drop", [20]),
      ("Credit_History_Age", sklearn.preprocessing.StandardScaler(), [21]),
      ("Payment_of_Min_Amount", sklearn.preprocessing.OrdinalEncoder(categories=[['Yes', 'No', 'NM']]), [22]),
      ("Total_EMI_per_month", "drop", [23]),
      ("Amount_invested_monthly", "drop", [24]),
      ("Payment_Behaviour", sklearn.preprocessing.OrdinalEncoder(categories=[['Low_spent_Large_value_payments', 'High_spent_Small_value_payments', 
                                                                              'High_spent_Medium_value_payments', 'Low_spent_Medium_value_payments', 
                                                                              'Low_spent_Small_value_payments', 'High_spent_Large_value_payments']]), [25]),
      ("Monthly_Balance", sklearn.preprocessing.PowerTransformer(), [26])
  ]);
  return column_transformer.fit_transform(np_money)

Usamos iloc para separar el dataset entre data y target. Conociendo que tenemos 28 columnas, tomamos de la 0 a la 26 (incluidas, entonces 27 columnas) como data y la última restante como target

In [13]:
money_dataframe = transformer_data(money_dataframe)

X = money_dataframe[:, :26]
y = money_dataframe[:,-1:]

In [ ]:
y

array([[-0.30815404,  1.34470184,  1.27110421, -1.29400129, -0.25651339,
        -0.23076923, -1.03386662, -0.57054176, -0.69154243, -0.58061117,
         0.65186988,  2.        , -1.89062843,  1.45202176,  1.        ,
         3.        , -0.04131564,  2.        ]])

In [ ]:
money_dataframe

array([[ 0.62090227,  1.21887369,  1.21956977, ...,  5.        ,
         1.94550586,  1.        ],
       [ 0.52799663, -0.50048771, -0.25753698, ...,  5.        ,
        -0.48081896,  1.        ],
       [-1.51592724, -0.5316824 , -0.18165325, ...,  5.        ,
        -0.70315613,  1.        ],
       ...,
       [-0.77268219, -0.55244267, -0.37047955, ...,  2.        ,
         0.21418782,  1.        ],
       [-1.7017385 , -0.17719369,  0.12548986, ...,  0.        ,
        -1.51595964,  0.        ],
       [-0.30815404,  1.34470184,  1.27110421, ...,  3.        ,
        -0.04131564,  2.        ]])

In [ ]:
X

array([[ 0.62090227,  1.21887369,  1.21956977, -1.6788301 , -1.22350776,
        -0.38461538, -1.03386662,  0.15241112, -0.20995528, -0.93677555,
        -0.62796743,  2.        , -0.93807515,  1.15069181,  1.        ,
         5.        ,  1.94550586,  1.        ],
       [ 0.52799663, -0.50048771, -0.25753698,  1.01497154,  1.67747536,
         1.07692308,  1.82916594,  0.74857159,  1.87966171,  1.08429926,
         0.19457168,  0.        ,  1.86418067, -0.77781986,  0.        ,
         5.        , -0.48081896,  1.        ],
       [-1.51592724, -0.5316824 , -0.18165325,  0.24531393,  0.71048099,
         1.30769231,  2.23817059,  1.60407479,  0.75402708,  1.48366702,
         1.06372308,  0.        ,  1.48867159, -0.98875082,  0.        ,
         5.        , -0.70315613,  1.        ],
       [-1.05139909, -0.97631961, -1.13856779,  0.63014274, -0.25651339,
        -0.53846154,  0.60215199, -1.1420649 ,  1.07554289,  0.12961012,
         0.65186988,  1.        , -0.43985087, -0.92848483,  0.        ,
         0.        , -0.37270109,  1.        ],
       [-0.67977656,  0.30544978,  0.59838076,  0.24531393, -1.70700495,
         0.38461538,  0.19314733,  0.58463148, -0.85199387,  0.35932561,
         0.86260531,  1.        , -0.32718386, -0.99879515,  2.        ,
         3.        , -1.45954113,  1.        ],
       [-0.58687093,  2.90555739,  1.94155381, -1.6788301 ,  0.2269838 ,
        -0.61538462, -1.03386662,  0.28429046, -1.01239952, -0.4625922 ,
        -0.05703525,  2.        , -1.88472714, -0.16511563,  1.        ,
         0.        ,  0.21128239,  1.        ],
       [-1.05139909,  0.85294208,  0.99594531, -0.13951487, -1.22350776,
        -0.76923077, -0.21585732, -1.28617269, -1.33304889, -0.09167545,
        -0.32909228,  2.        ,  0.06554986,  0.12616999,  1.        ,
         4.        , -1.2742382 ,  1.        ],
       [ 1.45705294,  2.16910397,  1.62886226, -0.13951487, -0.74001058,
        -0.38461538, -0.21585732, -0.57054176, -1.65341911, -0.27608008,
        -1.86335353,  2.        , -0.72469131,  1.41184444,  1.        ,
         0.        ,  1.04338296,  0.        ],
       [ 1.82867546,  1.37255   ,  1.28835342, -1.29400129, -0.74001058,
        -0.30769231, -0.62486197, -2.48736147, -1.17275366, -0.47945205,
        -0.62796743,  2.        , -1.26447478,  1.66295273,  1.        ,
         5.        ,  1.90208585,  1.        ],
       [-0.67977656,  3.14608775,  2.0031171 , -1.6788301 , -0.25651339,
        -0.61538462, -0.21585732, -0.77637457, -1.49327534, -0.35089568,
         0.42990219,  2.        , -0.7024039 ,  1.56250941,  2.        ,
         4.        ,  0.57064632,  1.        ],
       [-0.21524841, -0.86233728, -1.14350043, -0.13951487,  0.71048099,
         0.61538462,  0.60215199, -0.29956252,  0.91477468,  0.26027397,
         0.86260531,  1.        ,  0.36364477, -1.22981478,  0.        ,
         1.        , -0.85114792,  1.        ],
       [-1.05139909, -0.5776845 , -0.23969784,  0.63014274,  0.71048099,
        -0.53846154, -0.21585732,  0.74857159,  0.59330117, -0.10432034,
        -0.32909228,  1.        , -0.64050236,  0.54803192,  1.        ,
         1.        , -0.00928865,  1.        ],
       [-0.12234278, -0.94729394, -1.51222489, -0.52434368,  0.71048099,
         0.46153846,  0.19314733, -0.47582941, -0.69154243,  0.34668072,
         0.42990219,  1.        , -0.22182953, -0.27560328,  0.        ,
         1.        , -0.60293522,  1.        ],
       [ 0.62090227, -0.11004898,  0.2145661 ,  1.78462916, -0.25651339,
         1.61538462,  0.60215199,  1.64278228,  0.43259816,  0.76923077,
         0.65186988,  0.        ,  2.09782012, -1.56127772,  0.        ,
         1.        , -0.56144269,  0.        ],
       [-0.95849346,  0.48022936,  0.68994941,  1.39980035,  0.71048099,
         1.07692308,  1.42016129,  1.31813232,  1.87966171, -0.17492097,
         1.25648189,  0.        ,  2.00492846, -1.67176537,  0.        ,
         2.        , -0.63950011,  0.        ],
       [ 0.7138079 ,  2.07970012,  1.58039553, -0.52434368,  0.2269838 ,
        -0.30769231, -0.62486197, -0.06144713, -1.97335999,  0.15173867,
        -1.86335353,  2.        , -0.18388361,  1.35157845,  1.        ,
         2.        ,  1.43531774,  1.        ],
       [-0.02943715,  0.16650586,  0.49851679,  1.78462916,  0.2269838 ,
         1.30769231,  1.01115664,  0.80094781,  0.59330117,  0.12750263,
         0.65186988,  1.        ,  0.18417992, -1.37043542,  0.        ,
         0.        , -1.75425328,  0.        ],
       [ 1.54995857,  1.41537955,  1.35566735, -0.52434368,  0.71048099,
        -0.38461538,  0.19314733,  0.21931131, -0.3705197 , -0.15911486,
        -1.35865537,  1.        , -0.54186866,  1.08038149,  0.        ,
         3.        , -0.71806304,  1.        ],
       [-0.21524841,  1.18280128,  1.14434451,  0.63014274, -1.22350776,
        -0.46153846, -1.44287127,  0.52749333,  1.07554289, -0.17175975,
        -0.62796743,  1.        , -0.02961925,  0.59825357,  0.        ,
         0.        ,  1.92315667,  2.        ],
       [-0.30815404, -1.04765978, -1.43472978,  0.24531393, -0.25651339,
         1.23076923, -0.21585732,  0.40901193,  1.39713732, -0.01159115,
         0.86260531,  0.        ,  0.55162423, -0.67737654,  0.        ,
         3.        , -0.31152569,  0.        ],
       [-0.12234278, -0.63467501, -0.6228526 ,  1.01497154, -1.22350776,
         0.38461538, -0.62486197, -0.77637457,  0.59330117, -0.06322445,
        -0.32909228,  1.        ,  0.01443972,  1.00002684,  2.        ,
         0.        , -0.18258825,  1.        ],
       [ 0.24927974,  1.3212881 ,  1.27800312, -0.90917248,  0.2269838 ,
        -0.30769231, -0.21585732, -0.13778244,  0.75402708,  0.26448894,
         0.42990219,  1.        , -0.67659336,  0.01568234,  1.        ,
         0.        ,  1.35307525,  1.        ],
       [-0.58687093, -0.4208122 , -0.11593661, -0.52434368, -1.22350776,
        -0.30769231,  0.60215199, -1.1420649 ,  0.75402708,  0.32349842,
         0.65186988,  1.        , -0.80766642, -1.31016943,  0.        ,
         0.        , -0.10102336,  1.        ],
       [-0.86558782, -0.84266935, -0.96399505,  0.24531393, -0.25651339,
         0.15384615,  2.23817059,  1.00056055,  0.59330117, -0.79873551,
         0.42990219,  0.        ,  0.21866458, -0.38609092,  0.        ,
         4.        , -0.99607515,  0.        ],
       [-0.12234278, -0.79080112, -0.83626714, -0.13951487,  0.71048099,
         0.15384615,  0.60215199, -0.29956252,  0.27191939,  0.59220232,
         1.25648189,  1.        , -0.96084999, -1.36039109,  0.        ,
         0.        , -0.8085086 ,  0.        ],
       [-0.86558782, -0.34291193, -0.01299909, -1.6788301 ,  0.71048099,
        -0.61538462,  0.19314733, -0.57054176, -2.13304647, -0.18124341,
        -1.86335353,  2.        , -0.53861384,  0.45763293,  1.        ,
         4.        ,  0.20119517,  1.        ]])

Primero probamos con una validación justa para ir validando nuestro modelo y comprobar su eficiencia:

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=45)

In [ ]:
X_train

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour
10002,27139,48578,2,Alwyn Scottm,34.0,910305375.0,Developer,172891.36,14156.613333,3.0,...,5.93,3.0,Good,922.15,34.574870,323.0,No,272.812226,166.390095,High_spent_Medium_value_payments
2342,31825,32298,8,Maxwell Sonalie,39.0,425948273.0,Writer,18122.37,1794.197500,3.0,...,15.33,7.0,Standard,2686.50,22.831465,194.0,Yes,76.142588,47.697342,Low_spent_Large_value_payments
32388,10868,7486,3,Wayne Arnoldt,42.0,579151527.0,Architect,41499.21,3582.267500,0.0,...,9.79,4.0,Good,1272.15,39.636020,185.0,No,0.000000,75.000587,High_spent_Medium_value_payments
62172,37986,2973,1,Kokm,21.0,30767737.0,Mechanic,51506.55,4051.212500,4.0,...,11.40,4.0,Standard,2681.39,39.036190,99.0,Yes,160.992411,58.063275,High_spent_Medium_value_payments
53570,29156,46563,3,Schererc,27.0,172010082.0,Musician,32763.68,2616.306667,7.0,...,16.30,8.0,Standard,574.82,34.272520,221.0,Yes,99.190114,48.544843,Low_spent_Small_value_payments
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12895,126969,13643,4,Moong,25.0,864921050.0,Media_Manager,55263.82,4881.318333,4.0,...,13.76,6.0,Standard,1051.33,33.281165,289.0,Yes,28.177523,57.189045,High_spent_Small_value_payments
60960,146310,5456,1,Scuffhamm,37.0,290341014.0,Musician,48996.08,3799.006667,5.0,...,13.31,1.0,Standard,285.29,28.944479,213.0,Yes,135.683692,66.678405,High_spent_Medium_value_payments
6012,58896,28359,7,Wilkess,41.0,166557075.0,Scientist,114150.75,9668.562500,5.0,...,9.13,0.0,Good,399.84,35.873278,230.0,No,0.000000,100.716738,High_spent_Large_value_payments
63107,88125,12601,4,Scheyderk,18.0,490805398.0,Accountant,19369.96,1791.163333,6.0,...,24.39,8.0,Standard,1266.31,29.836572,191.0,Yes,57.412212,29.044100,High_spent_Medium_value_payments
6558,61602,11602,1,Tetsushi Kajimotov,18.0,566075369.0,Journalist,126971.00,10672.916667,0.0,...,11.83,1.0,Good,772.58,35.807621,213.0,No,293.528882,76.368665,High_spent_Large_value_payments

In [14]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=100)

rfc.fit(X,y)
# rfc.fit(X_train,y_train)

# y_pred = rfc.predict(X_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier()

In [ ]:
y_pred

array([2., 1., 1., ..., 0., 1., 0.])

In [6]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=100)

rfc.fit(X, y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier()

In [15]:
test_dataframe = pd.read_csv("https://raw.githubusercontent.com/rubengr16/MachineLearning/main/Prac2/test.csv", sep=",")

test_dataframe = transformer_test(test_dataframe)


y_pred = rfc.predict(test_dataframe)

ValueError: ignored

In [ ]:
prediction_dataframe = pd.DataFrame(y_pred)

ids = test_dataframe.iloc[:,0]
credit_score_dict = {0: 'Poor', 1: 'Standard', 2: 'Good'}
for i in range(len(y_pred)):
  submit = pd.concat([ids,credit_score_dict[y_pred[i]]], axis=1)
submit.columns=['ID','Credit_Score']

#for i in range(len(submit)):
 # submit.loc[i, 'Credit_Score'] = cambio_credit(submit.loc[i, 'Credit_Score'])

submit.to_csv("Prac2.csv", index=False)